# Python bytecode ve cache dosyaları
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Sanal ortamlar ve environment dosyaları
venv/
.env
*.env
*.venv/

# SQLite veritabanı dosyaları
*.sqlite3
.backend/db.sqlite3

# Paket yönetimi
Pipfile
Pipfile.lock

# Build klasörleri
build/
dist/
frontend/build/

# IDE ve editör dosyaları
.vscode/
.idea/

# Django statik ve medya dosyaları
/static/
/media/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker log ve pid dosyaları
*.log
*.pid

# Proje özel dosyalar ve klasörler
.backend/.env
.backend/apps/products/api/