[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
redis = "*"
pillow = "*"
python-decouple = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
drf-yasg = "*"
dotenv = "*"
django-jazzmin = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
django-celery-beat = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-import-export = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.13.3"
